language: groovy
jdk:
- oraclejdk8
before_script:
- chmod +x grailsw
script: "./grailsw refresh-dependencies && ./grailsw test-app unit:"
before_deploy:
- chmod +x grailsw
deploy:
provider: heroku
api_key: "9088aac5-684e-4036-ac74-961635ba7693"
app: cookingworld
